<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".woff" />

      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>

    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
